body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.hero {
    background-color:#1f2937;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    gap: 20px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.links {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
    gap: 40px;
}

.hero-header {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    padding-bottom: 8px;
}

.hero-subtext {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 8px;
}

.top button {
    background-color: #3882f6;
    border-radius: 8px;
    padding: 8px 30px;
    color: white;
}

.image {
    flex: 0 0 auto;
    background-color: #8f9091;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height:200px;
}

.information {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 200px;
}

.information h1 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding-bottom: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    width: 150px;
}

.card-outline {
    height: 150px;
    width: 150px;
    border-style: solid;
    border-width: 3px;
    border-color: #3882f6;
    border-radius: 8px;
    margin-bottom: 10px;
}

.quote {
    display: flex;
    flex-direction: column;
    padding: 100px 20%;
    font-size: 26px;
    color: #1f2937;
    background-color: #E5e7eb;
    font-style: italic;
    font-weight: 100;
}

.citation {
    align-self: end;
    font-size: 21px;
    font-weight: 600;
}

.call-to-action {
    background-color: #3882f6;
    border-radius: 15px;
    margin: 50px 200px;
    padding: 40px;
    border-style: solid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    gap: 10px;
}

.call-to-action button {
    flex-shrink: 0;
    background-color: #3882f6;
    border-radius: 8px;
    padding: 5px 20px;
    color: white;
    border-color: white;
    box-shadow: none;
    border: solid;
}

.cta-text :nth-child(1) {
    font-weight: 800;
    padding-bottom: 5px;
}

.cta-text :nth-child(2) {
    font-weight: 100;
}

.footer {
    background-color:#1f2937;
    color: white;
    padding: 30px;
    text-align: center;
}


